In [1]:
%env DATAWRAPPER_ACCESS_TOKEN=wipY6cR8MyXWneH2RGbDemNjJalcZmpz4xaZOtgjr5DeTgRp0O04yZuQWby1lTsX

env: DATAWRAPPER_ACCESS_TOKEN=wipY6cR8MyXWneH2RGbDemNjJalcZmpz4xaZOtgjr5DeTgRp0O04yZuQWby1lTsX

In [2]:
import datawrapper as dw

In [3]:
dw.__version__

'2.0.2'

In [4]:
import os
os.getenv("DATAWRAPPER_ACCESS_TOKEN")

'wipY6cR8MyXWneH2RGbDemNjJalcZmpz4xaZOtgjr5DeTgRp0O04yZuQWby1lTsX'

In [5]:
dw.Datawrapper().get_my_account()

{'id': 182176,
 'email': 'b@palewi.re',
 'name': 'Test user',
 'role': 'editor',
 'language': 'en-US',
 'presenceColor': 'color-dw-presence-90',
 'avatar': None,
 'customAvatar': None,
 'teams': [{'id': '5TyD7GtQ',
   'name': 'Test Team',
   'url': '/v3/teams/5TyD7GtQ',
   'active': True}],
 'workspaces': [{'slug': 'XphsSLAUvT',
   'name': 'Test user',
   'color': 'color-dw-presence-90',
   'personalAppearance': True}],
 'chartCount': 16750,
 'url': '/v3/users/182176',
 'activeTeam': '5TyD7GtQ'}

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv(
    "https://raw.githubusercontent.com/palewire/first-automated-chart/main/_notebooks/arrests.csv",
    parse_dates=["ArrestDateTime"]
)

In [8]:
df.head()

,RowID,X,Y,IncidentNumber,ArrestNumber,Age,Gender,Race,ArrestDateTime,ArrestLocation,...,ChargeDescription,District,Post,Neighborhood,Latitude,Longitude,GeoLocation,Shape,Year,year
0,29,1.401347e+06,608148.870493,22L09338,23000037.0,39.0,M,B,2022-12-31 23:50:00,4000 OAKFORD ST,...,HAND GUN VIOLATION,Northwest,621.0,West Arlington,39.3361,-76.6853,"(39.3361,-76.6853)",NaN,2022,2022
1,30,1.401347e+06,608148.870493,22L09338,23000039.0,50.0,M,B,2022-12-31 23:50:00,4000 OAKFORD ST,...,HAND GUN VIOLATION,Northwest,621.0,West Arlington,39.3361,-76.6853,"(39.3361,-76.6853)",NaN,2022,2022
2,31,NaN,NaN,NaN,23000010.0,27.0,M,B,2022-12-31 23:40:00,NaN,...,FAILURE TO APPEAR,NaN,NaN,NaN,NaN,NaN,"(,)",NaN,2022,2022
3,32,1.417636e+06,595206.835862,22L09343,23000050.0,42.0,M,B,2022-12-31 23:15:00,500 DOLPHIN ST,...,HAND GUN VIOLATION,Central,123.0,Upton,39.3004,-76.6279,"(39.3004,-76.6279)",NaN,2022,2022
4,33,NaN,NaN,22L09312,22157183.0,43.0,F,W,2022-12-31 21:00:00,1500 BECKLOW AVE,...,STOLEN AUTO,NaN,NaN,NaN,NaN,NaN,"(,)",NaN,2022,2022

In [9]:
df['year'] = df.ArrestDateTime.dt.year

In [10]:
total_by_year = df.year.value_counts().sort_index().reset_index()

In [11]:
total_by_year

    year  count
0   2010  45224
1   2011  43364
2   2012  42333
3   2013  39542
4   2014  37078
5   2015  25732
6   2016  23089
7   2017  21989
8   2018  20543
9   2019  19407
10  2020  13162
11  2021  11130
12  2022  12360
13  2023  13566

In [16]:
chart = dw.ColumnChart(
    title="Baltimore Arrests",
    data=total_by_year
)

In [17]:
chart.create()

'eJl50'

In [18]:
chart.publish()

True

In [19]:
chart.display()

In [20]:
chart.source_name = "OpenBaltimore"
chart.source_url = "https://data.baltimorecity.gov/datasets/baltimore::bpd-arrests/about"
chart.byline = "First Automated Chart"
chart.update()

'eJl50'

In [21]:
chart.publish()

True

In [22]:
chart.display()

In [23]:
chart.base_color = "#bf7836"  # Our accent color

In [24]:
chart.update()

'eJl50'

In [25]:
chart.publish()

True

In [26]:
chart.display()

In [27]:
df.District.value_counts()

District
Western      29842
Central      28501
Eastern      28114
Southern     25780
Northeast    24180
Southeast    23710
Northwest    22044
Southwest    21822
Northern     13087
Name: count, dtype: int64

In [28]:
def create_chart(district: str):
    district_df = df[df.District == district]
    district_by_year = district_df.year.value_counts().sort_index().reset_index()
    # Create the chart with Datawrapper
    chart = dw.ColumnChart(
        # Use the district name in the title
        title=f"Arrests in Baltimore's {district} District",
        # Pass in the filtered data
        data=district_by_year,
        base_color="#bf7836",
        source_name="OpenBaltimore",
        source_url="https://data.baltimorecity.gov/datasets/baltimore::bpd-arrests/about",
        byline="First Automated Chart",
    )
    
    # Create the chart
    chart.create()

    # Publish the chart
    chart.publish()

    # Return the chart's embed code
    return chart.display()

In [29]:
create_chart("Western")

In [30]:
create_chart("Eastern")

In [31]:
# Create an empty list to hold the charts
chart_list = []

# Loop through the unique districts...
for district in df.District.dropna().unique():
    # Print a message to the console
    print(f"Creating chart for the {district} District")

    # Create a chart for the district and save it as a variable
    c = create_chart(district)

    # Add the chart to the list
    chart_list.append(c)

Creating chart for the Northwest District
Creating chart for the Central District
Creating chart for the Western District
Creating chart for the Eastern District
Creating chart for the Northeast District
Creating chart for the Southern District
Creating chart for the Southeast District
Creating chart for the Northern District
Creating chart for the Southwest District

In [32]:
from IPython.display import display

In [33]:
display(*chart_list)

In [34]:
from datetime import timedelta

In [35]:
df.ArrestDateTime.max()

Timestamp('2023-12-30 22:54:00')

In [36]:
max_date = df.ArrestDateTime.max()

In [37]:
seven_days_ago = max_date - timedelta(days=7)

In [38]:
seven_days_ago

Timestamp('2023-12-23 22:54:00')

In [39]:
last_week_df = df[df.ArrestDateTime >= seven_days_ago]

In [40]:
last_week_df.ChargeDescription.value_counts()

ChargeDescription
FAILURE TO APPEAR                 34
ASSAULT-SECOND DEGREE             30
CONTROLLED SUBSTANCE              20
HAND GUN VIOLATION                14
ASSAULT-FIRST DEGREE               8
                                  ..
POSSESION WITH INTENT TO DISTR     1
DETAIN ONLY FOR FREDRICKS COUN     1
VIOLATION OF PROTECTION ORDER      1
ASSAULT- SECOND DEGREE             1
TEL MISUSE:REPEAT CALLS            1
Name: count, Length: 65, dtype: int64

In [41]:
top_charges_df = (
    last_week_df.ChargeDescription.value_counts()
        .reset_index()
        .head(10)
)

In [42]:
chart = dw.BarChart(
    title=f"Top 10 arrest charges in Baltimore last week",
    data=top_charges_df,  # Note that we're using the top charges DataFrame
    base_color="#113421",
    thick=True,
    source_name="OpenBaltimore",
    source_url="https://data.baltimorecity.gov/datasets/baltimore::bpd-arrests/about",
    byline="Ben Welsh",
)

In [43]:
chart.create()

'z2YHl'

In [44]:
chart.publish()

True

In [45]:
chart.display()